.no-hover {
  pointer-events: none; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.has-image {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 1s ease;
  transition: background-image 1s ease; }

.overlay {
  background-color: rgba(0, 0, 0, 0.65); }

.has-shadow {
  -webkit-box-shadow: 0px 9px 21px -7px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 9px 21px -7px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 9px 21px -7px rgba(0, 0, 0, 0.36); }

.hero p {
  color: white;
  opacity: 0; }

.hero .faded {
  opacity: 1;
  transition: opacity .5s ease; }

#custom-brand-normal {
  width: 200px; }

#custom-brand-mobile {
  width: 100px; }

.info-buttons .column .box {
  position: relative;
  top: 0;
  transition: top ease-in-out .3s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  .info-buttons .column .box:hover {
    transition: ease-in-out .3s;
    top: -10px;
    background: #aa1116;
    color: white;
    -webkit-box-shadow: -1px 15px 21px -10px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -1px 15px 21px -10px rgba(0, 0, 0, 0.51);
    box-shadow: -1px 15px 21px -10px rgba(0, 0, 0, 0.51);
    cursor: pointer; }
  .info-buttons .column .box:active {
    transform: translateY(5px); }
  .info-buttons .column .box.active-button {
    top: -10px;
    background: #aa1116;
    color: white;
    -webkit-box-shadow: -1px 15px 21px -10px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -1px 15px 21px -10px rgba(0, 0, 0, 0.51);
    box-shadow: -1px 15px 21px -10px rgba(0, 0, 0, 0.51);
    animation: pulse .6s linear; }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #aa1116;
    box-shadow: 0 0 0 0 #aa1116; }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(170, 17, 22, 0);
    box-shadow: 0 0 0 10px rgba(170, 17, 22, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(170, 17, 22, 0);
    box-shadow: 0 0 0 0 rgba(170, 17, 22, 0); } }

.info-container {
  margin-top: 40px; }

.top-space {
  margin-top: 20px; }
