.has-image{
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 1s ease;
  transition: background-image 1s ease;
 
}



.overlay{
    background-color:rgba(0, 0, 0, 0.5);
}

.has-shadow{
  -webkit-box-shadow: 0px 9px 21px -7px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 9px 21px -7px rgba(0,0,0,0.36);
   box-shadow: 0px 9px 21px -7px rgba(0,0,0,0.36);
}

.hero{
  p{
    color: white;     
    opacity: 0;    
  }
  .faded{
    opacity: 1;
    transition: opacity .5s ease;
    
  }
}

#custom-brand-normal{
  width: 200px;
}
#custom-brand-mobile{
  width: 100px;
}
